//GLOBAL APP BACKGROUND & FONT
.root {
    -fx-background-color: #f2f6fa;
    -fx-font-family: "Helvetica";
}

//TITLE LABELS
.title-label {
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-text-fill: #1a73e8;
}

//NORMAL LABELS
.label {
    -fx-font-size: 20px;
    -fx-text-fill: #2c3e50;
}

//BUTTONS
.button {
    -fx-background-color: #1a73e8;
    -fx-text-fill: white;
    -fx-background-radius: 8px;
    -fx-font-size: 16px;
    -fx-padding: 8px 14px;
}

.button:hover {
    -fx-background-color: #155cc0;
}

.button:pressed {
    -fx-background-color: #0f47a1;
}

//SLIDER
.slider .track {
    -fx-background-color: #c7d3e0;
    -fx-background-radius: 5px;
}

.slider .thumb {
    -fx-background-color: #1a73e8;
    -fx-background-radius: 50%;
}

.slider .axis {
    -fx-tick-label-fill: #2c3e50;
}
